<% provide(:title, "About") %>
<h1 class="static-heading">About</h1>
<p>A Facebook clone for <a href="https://www.theodinproject.com">The Odin Project.</a> User must sign up and confirm their email before they are allowed to "friend", "post", "comment" and "like" content.</p>
<p><a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project">The Facebook Final</a></p>