<% provide(:title, "Home") %>
<% if user_signed_in? %>
	<h1>Hello, <%= current_user.name %></h1>
	<%= render 'shared/post_form' %>
	<%= render 'home_feed' %>
<% else %>
	<h1>Welcome to Facebook</h1>
<% end %>