<% provide(:title, "Home") %>
<% if user_signed_in? %>
	<div class="row">
		<div class="col-md-12">
			<%= render 'shared/post_form' %>
			<%= render 'home_feed' %>
		</div>
	</div>
<% else %>
	<div class="jumbotron">
		<h1>Welcome to Facebook</h1>
	</div>
<% end %>