<% provide(:title, "Home") %>
<% if user_signed_in? %>
	<div class="starter-template">
		<h1>Hello, <%= current_user.name %></h1>
		<%= render 'shared/post_form' %>
		<%= render 'home_feed' %>
	</div>
<% else %>
	<div class="jumbotron">
		<h1>Welcome to Facebook</h1>
	</div>
<% end %>