<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag "stylesheets/custom" %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to my Facebook Clone!, <%= @user.name %></h1>
    <p>Thanks for signing up!</p>
    <p><%= link_to "Log in here!", new_user_session_url %></p>
  </body>
</html>