<h1><%= @user.email %></h1>
<h2>Friends</h2>
<ul class="user-list">
	<% @user.friends.each do |friend| %>
		<li><%= link_to friend.email, user_path(friend) %></li>
	<% end %>
</ul>
<ul class="user-list">
	<% @user.inverse_friends.each do |friend| %>
		<li><%= link_to friend.email, user_path(friend) %></li>
	<% end %>
</ul>