<%= form_for @post do |f| %>
	<div class="form-group" id="post-form">
		<%= f.text_area :content, placeholder: "What's on your mind?", class: "form-control", rows: 5 %><br>
		<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', :style => "margin-left: 10%;" %>
		<%= f.submit "Submit" %>
    </div>
<% end %>


<script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
