/*these lines include the entire bootstrap and css framework*/
@import "bootstrap-sprockets";
@import "bootstrap";


/* header */
.navbar-default {
	background-color: #3b5998;	
	.navbar-brand {
		color:white;
	}
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	text-decoration: underline;
}

/* Home page */
.starter-template {
	margin-top:15%;
}

.home-feed {
	margin: auto;
  margin-top: 1%;
  width: 60%;
}

/* Profile */

.user-feed {
  width: calc(100% - 200px);
  margin:auto;
  margin-top: 2%
}

/* friends list */
.col-md-8 {
	float:right;
}

.col-md-4 {
	background-color: white;
	padding: 40px;
	margin:auto;
	margin-top: 30%;
	background-color: white;
		li {
		list-style-type: none;
		}
}

/* user index list */

.user-list {
	list-style-type: none;
}

/* Posts */

#post-form {
  text-align: center;
  width: 80%;
  margin: auto;
  .form-control {
    margin: auto;
    width: 80%;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: grey;
  background-color: white;
  a {
    color: gray;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#foot-container {
	background-color: white;
	height: 100px;
}


/* devise forms */
.devise-form {
	margin-left: 35px;
}


.date {
  font-size: 10px;
  font-style: italic;
}

.like-button {
  color: #4b4f56;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}

.likes {
  font-size: 12px
}


/* misc body elements */
.row {
	margin-top:10%;
}

body {
	background-color: rgb(233, 235, 238)
}

h1 {
  text-align: center;
}

p {
	margin-left:10px;
}

