/*these lines include the entire bootstrap and css framework*/
@import "bootstrap-sprockets";
@import "bootstrap";


/* header */
.navbar-default {
	background-color: #3b5998;	
	.navbar-brand {
		font-size: 25px;
		font-weight: bold;
		color:white;
	}
}

	.navbar-brand:hover {
		color:white;
	}

	.badge {
		color: #3b5998;
		background-color: white;
	}

	.dropdown-menu li {
		margin-top: 3%;
		margin-left: 5%;
		color: #3b5998;
		font-size:12px;
}


.navbar-default .navbar-nav > li > a {
	font-size: 12px;
	font-weight:bold;
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	text-decoration: none;
}

.alert {
	margin-top: 10%;
}
/* Home page */
.starter-template {
	margin-top:15%;
}

.home-feed {
	margin: auto;
  margin-top: 1%;
  width: 60%;
}

/* Profile */

.user-feed {
  width: calc(100% - 200px);
  margin:auto;
  margin-top: 2%
}

/* friends list */
.col-md-8 {
	float:right;
}

.col-md-4 {
	.friends-list {
		background-color: white;
		padding:10%;
		margin:auto;
		margin-top: 70%;
		li {
			list-style-type: none;
		}
	}
}

/* user index list */

.user-list {
	list-style-type: none;
}

/* Posts */

#post-form {
  text-align: center;
  width: 80%;
  margin: auto;
  .form-control {
    margin: auto;
    width: 80%;
  }
}

.date {
  font-size: 10px;
  font-style: italic;
}

.like-button {
  color: #4b4f56;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}

.comment-button {
  color: #4b4f56;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}

.likes {
  font-size: 12px
}


/* footer */

.footer {
	margin:auto;
	padding: 1%;
	background-color: white;
	nav a {
		padding: 1%;
		color: grey;
	}
}


/* devise forms */
.devise-form {
	margin-left: 35px;
}


/* misc body elements */
.row {
	margin-top:10%;
}

body {
	background-color: rgb(233, 235, 238)
}

h1 {
  text-align: center;
}

p {
	margin-left:10px;
}

