/*these lines include the entire bootstrap and css framework*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
.navbar.navbar-default {
  background-color: #3b5998;
  color: white;
  a {
    margin-top: 3px;
    color: white;
    &:hover{
      color:#3b5998;
    } 
  }
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: grey;
  background-color: white;
  a {
    color: gray;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#foot-container {
	background-color: white;
	height: 100px;
}

/* misc body elements */

body {
	background-color: rgb(233, 235, 238)
}

h1 {
  text-align: center;
}

p {
	margin-left:10px;
}

.user-list {
	list-style-type: none;
}

/* devise forms */
.devise-form {
	margin-left: 35px;
}



/* Posts */

.form-group {
  text-align: center;
  width: 70%;
  margin: auto;
  .form-control {
    margin: auto;
    width: 50%;
  }
}