/*these lines include the entire bootstrap and css framework*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*static pages*/
.static-heading {
	font-weight: bold;
	margin-top: 8%;
}


/* header */
.navbar-default {
	background-color: #3b5998;	
	.navbar-brand {
		font-size: 25px;
		font-weight: bold;
		color:white;
	}
}

	.navbar-brand:hover {
		color:white;
	}

	.badge {
		color: #3b5998;
		background-color: white;
	}

	.dropdown-menu li {
		margin-top: 3%;
		margin-left: 5%;
		color: #3b5998;
		font-size:12px;
}


.navbar-default .navbar-nav > li > a {
	font-size: 12px;
	font-weight:bold;
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	text-decoration: none;
}

.alert {
	margin-top: 10%;
}
/* Home page */
.starter-template {
	margin-top:15%;
}

.home-feed {
	margin: auto;
  margin-top: 1%;
  width: 60%;
}

.feed-name {
	margin-bottom: 2%;
	a {
		font-weight:bold; 
		color: #3b5998;
	}
}


#profile-pic {
	font-weight: bold;
	float:left;
	margin-bottom: -18%;
}

.user-feed {
  width: calc(100% - 200px);
  margin:auto;
  margin-top: 2%;
}

.col-md-8 {
	float:right;
}

/* friends list */
.col-md-4 {
	.friends-list {
		background-color: white;
		padding:10%;
		margin:auto;
		margin-top: 40%;
		li {
			list-style-type: none;
		}
	}
}

/* friend requests */
.friend-requests {
	background-color:white;
	margin-top: 1%;
	padding-bottom: 5%;
}
/* user index list */

h2 {
	text-align: center;
	font-weight: bold;
	margin-top: 10%;
	text-decoration: underline;
}

.user-list {
	list-style-type: none;
	li {
		font-weight: bold;
		color: #3b5998;
	}
}

/* Posts */

#post-form {
  text-align: center;
  width: 80%;
  margin: auto;
  .form-control {
    margin: auto;
    width: 80%;
  }
}

.date {
  font-size: 10px;
  font-style: italic;
}

.like-button {
  color: #4b4f56;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}

.comment-button {
  color: #4b4f56;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}

.likes {
  font-size: 12px
}


/* footer */
.navbar .navbar-inverse .navbar-fixed-bottom {

}
.footer {
	margin:auto;
	padding: 1%;
	background-color: white;
	nav a {
		padding: 1%;
		color: grey;
	}
}


/* misc body elements */
.row {
	margin-top:10%;
}

body {
	background-color: rgb(233, 235, 238)
}

h1 {

  text-align: center;
}

p {
	margin-left:10px;
}

/* devise notices */

.alert.alert-notice { 
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert.alert-alert { 
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: #fcf8e3;
}