<header>
	<div class="container">
		<ul class="nav nav-pills navbar-right">
		  <li role="presentation"><a href="#">Profile</a></li>
		  <li role="presentation"><%= link_to "Home", home_path %></li>
		</ul>
	</div>
</header>